[Desktop Entry]
Encoding=UTF-8
Categories=X-Graphic-viewer;
Exec=gpicview
Icon=gpicview.png
StartupNotify=true
Type=Application
Terminal=false
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/x-bmp;image/x-pcx;image/x-tga;image/x-portable-pixmap;image/x-portable-bitmap;image/x-targa;image/x-portable-greymap;application/pcx;image/svg+xml;image/svg-xml;
Name=Image Viewer
Name[af]=Beeldbekyker
Name[ar]=عارض الصور
Name[bg]=Изобразител
Name[bn]=ছবি প্রদর্শক
Name[bn_IN]=ইমেজ প্রদর্শক
Name[ca]=Visualitzador d'imatges
Name[cs]=Prohlížeč obrázků
Name[da]=Billedfremviser
Name[de]=Bildbetrachter
Name[el]=Προβολή εικόνων
Name[es]=Visor de imágenes
Name[es_VE]=Visor de imágenes
Name[et]=Pildivaatur
Name[eu]=Irudi ikustailea
Name[fa]=نمایشگر تصویر
Name[fi]=Kuvankatselin
Name[fr]=Visionneur d'images
Name[frp]=Afichór d'imajes
Name[gl]=Visor de imaxes
Name[he]=מציג התמונות
Name[hr]=Preglednik Slika
Name[hu]=Képmegjelenítő
Name[id]=Penampil Citra
Name[it]=Visualizzatore di immagini
Name[ja]=イメージビューワ
Name[ko]=그림 보기
Name[lt]=Paveikslėlių peržiūros programa
Name[ms]=Pemapar Imej
Name[nb]=Bildevisning
Name[nl]=Afbeeldingkijker
Name[nn]=Biletvisar
Name[pl]=Przeglądarka obrazów
Name[pt]=Visualizador de imagens
Name[pt_BR]=Visualizador de imagens
Name[ru]=Просмотр изображений
Name[sk]=Prehliadač obrázkov
Name[sl]=Pregledovalnik slik
Name[sr]=Прегледач слика
Name[sv]=Bildvisare
Name[th]=ตัวดูภาพ
Name[tr]=Resim Görüntüleyici
Name[uk]=Переглядач зображень GPicview
Name[ur]=تصاویر منظرکار
Name[ur_PK]=تصاویر منظرکار
Name[vi]=Ứng dụng xem ảnh
Name[zh_CN]=图像查看器
Name[zh_TW]=圖片檢視
GenericName=Image Viewer
GenericName[af]=Beeldbekyker
GenericName[ar]=عارض الصور
GenericName[bg]=Изобразител
GenericName[bn]=ছবি প্রদর্শক
GenericName[bn_IN]=ইমেজ প্রদর্শক
GenericName[ca]=Visualitzador d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[el]=Προβολή εικόνων
GenericName[es]=Visor de imágenes
GenericName[es_VE]=Visor de imágenes
GenericName[et]=Pildivaatur
GenericName[eu]=Irudi ikustailea
GenericName[fa]=نمایشگر تصویر
GenericName[fi]=Kuvankatselin
GenericName[fr]=Visionneur d'images
GenericName[frp]=Afichór d'imajes
GenericName[gl]=Visor de imaxes
GenericName[he]=מציג התמונות
GenericName[hr]=Preglednik Slika
GenericName[hu]=Képmegjelenítő
GenericName[id]=Penampil Citra
GenericName[it]=Visualizzatore di immagini
GenericName[ja]=イメージビューワ
GenericName[ko]=그림 보기
GenericName[lt]=Paveikslėlių peržiūros programa
GenericName[ms]=Pemapar Imej
GenericName[nb]=Bildevisning
GenericName[nl]=Afbeeldingkijker
GenericName[nn]=Biletvisar
GenericName[pl]=Przeglądarka obrazów
GenericName[pt]=Visualizador de imagens
GenericName[pt_BR]=Visualizador de imagens
GenericName[ru]=Просмотр изображений
GenericName[sk]=Prehliadač obrázkov
GenericName[sl]=Pregledovalnik slik
GenericName[sr]=Прегледач слика
GenericName[sv]=Bildvisare
GenericName[th]=ตัวดูภาพ
GenericName[tr]=Resim Görüntüleyici
GenericName[uk]=Переглядач зображень GPicview
GenericName[ur]=تصاویر منظرکار
GenericName[ur_PK]=تصاویر منظرکار
GenericName[vi]=Ứng dụng xem ảnh
GenericName[zh_CN]=图像查看器
GenericName[zh_TW]=圖片檢視
Comment=View your images easily
Comment[af]=Bekyk beelde met gemak
Comment[ar]=اعرض صورك بسهولة
Comment[bg]=Плавен преглед на вашите снимки
Comment[bn]=সহজেই আপনার ছবিগুলো দেখুন
Comment[bn_IN]=আপনার ছবিগুলি সহজে দেখে নিন
Comment[ca]=Visualitzeu les vostres imatges de manera simple
Comment[cs]=Prohlížejte si svoje obrázky jednoduše
Comment[da]=Fremvis nemt dine billeder
Comment[de]=Bilder einfach betrachten
Comment[el]=Προβάλετε τις εικόνες σας εύκολα
Comment[es]=Vea sus imágenes fácilmente
Comment[et]=Vaata pilte veel lihtsamalt
Comment[eu]=Ikusi zure irudiak modu errazean
Comment[fa]=نگاهی سریع و آسان
Comment[fi]=Katso kuviasi helposti
Comment[fr]=Visionner des images facilement
Comment[gl]=Vexa as súas imaxes doadamente
Comment[he]=צפייה בהודעות האישיות בקלות
Comment[hr]=Pogledajte lako svoje slike
Comment[hu]=Képek megtekintése egyszerűen
Comment[id]=Lihat gambar Anda dengan mudah
Comment[it]=Visualizza facilmente le tue immagini
Comment[ja]=簡単に画像を見ることができます
Comment[ko]=그림을 쉽게 봅니다
Comment[lt]=Lengvai peržiūrėkite paveikslėlius
Comment[nb]=Vis bilder lettvint
Comment[nl]=Bekijk uw afbeeldingen op een makkelijke manier
Comment[nn]=Vis bilete
Comment[pl]=Wyświetla obrazy
Comment[pt]=Ver imagens facilmente
Comment[pt_BR]=Visualize suas imagens de forma fácil
Comment[ru]=Смотрите ваши изображения без проблем
Comment[sk]=Jednoduché prehliadanie obrázkov
Comment[sl]=Oglejte si svoje slike
Comment[sr]=Лагано прегледање слика
Comment[sv]=Visa dina bilder enkelt
Comment[th]=ดูภาพอย่างง่ายดาย
Comment[tr]=Resimlerinizi kolaylıkla görün
Comment[uk]=Легко переглядайте Ваші зображення
Comment[vi]=Xem hình ảnh của bạn một cách dễ dàng
Comment[zh_CN]=轻松查看数码相片和图片
Comment[zh_TW]=輕鬆檢視數位相片和圖片
