[Desktop Entry]
Type=Application
Version=2.0
Name=BaconGUI
GenericName=Integrated Development Environment
Comment=A fast and lightweight IDE for BASIC programming
Exec=bacongui
Icon=BaCon.png
Terminal=false
Categories=GTK;Development;IDE;
MimeType=text/plain;
StartupNotify=true
