[Desktop Entry]
Encoding=UTF-8
Name=Rubix cube puzzle
Icon=rubix.png
Comment=Rubix cube puzzle
Exec=rubix
Terminal=false
Type=Application
Categories=X-Fun-puzzle
GenericName=Rubix cube puzzle
