[Desktop Entry]
Encoding=UTF-8
Name=Pipe Panic
Icon=PipepanicIcon48.png
Comment=Pipe Panic
Exec=pipepanic
Terminal=false
Type=Application
Categories=Game;
GenericName=Pipe Game
