[Desktop Entry]
Encoding=UTF-8
Name=Xsoldier Alien Shooter
Icon=xsoldier.xpm
Comment=Xsoldier Alien Shooter
Exec=xsoldier
Terminal=false
Type=Application
Categories=X-Fun-shooter
GenericName=Xsoldier Alien Shooter
