[Desktop Entry]
Encoding=UTF-8
Name=PureFTPd FTP server
Icon=/usr/share/pixmaps/puppy/network.svg
Comment=PureFTPd FTP server
Exec=run-pureftpd
Terminal=false
Type=Application
Categories=Puppy;Network
GenericName=PureFTPd FTP server
