[Desktop Entry]
Encoding=UTF-8
Name=Xinvaders 3D
Icon=xinv3d.png
Comment=Space game
Exec=xinv3d
Terminal=false
Type=Application
Categories=Game;
GenericName=Xinvaders 3D Game
