[Desktop Entry]
Encoding=UTF-8
Name=GParted partition manager
Comment=GParted partition manager
Exec=gparted_shell
Icon=/usr/share/icons/hicolor/48x48/apps/gparted.png
Terminal=false
Type=Application
Categories=X-SystemMemory;
GenericName=GParted partition manager
