[Desktop Entry]
Name=HomeBank
Name[af]=HomeBank
Name[ar]=مصرف البيت
Name[ast]=HomeBank
Name[be]=HomeBank
Name[bg]=HomeBank
Name[br]=HomeBank
Name[ca]=HomeBank
Name[cs]=HomeBank
Name[cy]=HomeBank
Name[da]=HomeBank
Name[de]=HomeBank
Name[el]=HomeBank
Name[en_AU]=HomeBank
Name[en_CA]=HomeBank
Name[en_GB]=HomeBank
Name[es]=HomeBank
Name[et]=HomeBank
Name[eu]=HomeBank (Etxeko kontuak)
Name[fa]=HomeBank
Name[fi]=Kotipankki
Name[fr]=HomeBank
Name[ga]=HomeBank
Name[gl]=HomeBank
Name[he]=HomeBank
Name[hr]=HomeBank
Name[hu]=HomeBank
Name[id]=HomeBank
Name[is]=Heimabanki
Name[it]=HomeBank
Name[ja]=HomeBank
Name[ka]=საშინაო ბანკი
Name[ko]=홈 뱅크
Name[lt]=Namų buhalterija (HomeBank)
Name[lv]=HomeBank
Name[mr]=होमबॆंक
Name[ms]=HomeBank
Name[nb]=HjemmeBank
Name[nds]=HomeBank
Name[oc]=HomeBank
Name[pl]=HomeBank
Name[pt]=HomeBank
Name[pt_BR]=HomeBank
Name[pt_PT]=HomeBank
Name[ro]=HomeBank
Name[ru]=Домашний банк
Name[si]=HomeBank
Name[sk]=HomeBank
Name[sl]=HomeBank
Name[sr]=Кућна банка
Name[sv]=HomeBank
Name[tr]=HomeBank
Name[uk]=HomeBank
Name[vi]=Ngân hàng cá nhân
Name[zh_CN]=HomeBank
Name[zh_TW]=HomeBank
Comment=Free, easy, personal accounting for everyone.
Comment[af]=Gratis, maklike, persoonlike boekhou vir almal
Comment[ar]=محاسب شخصي سهل، مجاني للجميع
Comment[ast]=Contabilidá personal llibre y fácil pa tol mundiu.
Comment[be]=Простае і лёгкае кіраванне асабістымі фінансамі для кожнага.
Comment[bg]=Безплатно, лесно, лично счетоводство за всеки.
Comment[br]=Jederezh personel digoust, aes evit an holl.
Comment[ca]=Comptabilitat lliure, fàcil i personal per a tothom.
Comment[cs]=Svobodné, jednoduché, osobní účetnictví pro každého.
Comment[da]=Gratis, nem, personlig regnskabsføring for alle.
Comment[de]=Freie, einfache, persönliche Buchhaltung für jedermann.
Comment[el]=Δωρεάν, εύκολο, πρόγραμμα προσωπικών οικονομικών για όλους.
Comment[en_AU]=Free, easy, personal accounting for everyone.
Comment[en_CA]=Free, easy, personal accounting for everyone.
Comment[en_GB]=Free, easy, personal accounting for everyone.
Comment[es]=Contabilidad personal libre y fácil para todo el mundo.
Comment[et]=Vaba, kerge isiklik arveldus kõigile.
Comment[eu]=Denen eta norberarendako kontugintza askea, erraza.
Comment[fa]=حسابداری شخصی آسان و رایگان برای همه.
Comment[fi]=Vapaata ja helppoa yksityiskirjanpitoa kaikille.
Comment[fr]=Comptabilité personnelle libre et facile, pour tous.
Comment[ga]=Cuntasaíocht phearsanta atá saor agus éasca do chách.
Comment[gl]=Contabilidade libre, fácil e persoal para todos
Comment[he]=ניהול חשבונות קל ופשוט לכולם.
Comment[hr]=Slobodno, jednostavno, osobno računovodstvo za sve.
Comment[hu]=Ingyenes, egyszerű személyi számlavezetés mindenkinek.
Comment[id]=Akuntansi pribadi yang  gratis dan mudah untuk semua orang.
Comment[is]=Ókeypis og einfalt heimilisbókhaldskerfi fyrir alla.
Comment[it]=Contabilità familiare semplice per tutti.
Comment[ja]=フリーで簡単、みんなのパーソナル会計
Comment[ka]=უფასო, მარტივი, პერსონალური ბუღალტერია ყველასათვის
Comment[ko]=모두를 위한 무료, 쉬운, 개인 계정 관리
Comment[lt]=Nemokama, paprasta naudoti asmeninių finansų apskaita kiekvienam
Comment[lv]=Vienkārša bezmaksas personīgā grāmatvedība katram
Comment[mr]=विनामुल्य, सोपे, व्यक्तीगत हिशेब सगळ्यांसाठी
Comment[ms]=Perakaunan peribadi, percuma, mudah untuk semua orang.
Comment[nb]=Gratis og enkelt personlig regnskap for alle
Comment[nds]=Kostenlose, einfache, persönliche Buchhaltung für jedermann.
Comment[nl]=Gratis en eenvoudig financiën beheren voor iedereen.
Comment[oc]=Comptabilitat personala, liura, aisida, per cadun.
Comment[pl]=Bezpłatna i łatwa księgowość osobista dla każdego.
Comment[pt]=Finaças pessoais gratuita e fácil para todos.
Comment[pt_BR]=Gerenciador pessoal de contas livre, fácil e para todos
Comment[pt_PT]=Contabilidade pessoal gratuita e fácil para todos.
Comment[ro]=Contabilitate personală pentru fiecare, gratis şi uşor
Comment[ru]=Простое и лёгкое управление личными финансами для каждого.
Comment[sk]=Voľné, ľahko dostupné, osobné účtovníctvo pre každého.
Comment[sl]=Enostavno in brezplačno osebno računovodstvo za vsakogar.
Comment[sr]=Слободно, лако, лично рачуноводство за свакога.
Comment[sv]=Enkelt och gratis privatekonomiprogram för alla.
Comment[tr]=Herkes için özgür, kolay, kişisel muhasebe.
Comment[uk]=Персональна бухгалтерія: просто і легко для кожного!
Comment[vi]=Quản lý tài chính cá nhân cho mọi người
Comment[zh_CN]=免费，易用的个人财务软件。
Comment[zh_TW]=免费，易用的個人財務軟體
Exec=homebank
Terminal=false
StartupNotify=true
Type=Application
Icon=/usr/share/icons/hicolor/48x48/apps/homebank.png
Categories=X-Business-planner
MimeType=application/x-homebank;
