[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Xarchiver
Name[ca]=Xarchiver
Name[cs]=Xarchiver
Name[da]=Xarchiver
Name[de]=Xarchiver
Name[el]=Xarchiver
Name[en_GB]=Xarchiver
Name[es]=Xarchiver
Name[eu]=Xarchiver
Name[fi]=Xarchiver
Name[fr]=Xarchiver
Name[hu]=Xarchiver
Name[id]=Xarchiver
Name[ja]=Xarchiver
Name[nb_NO]=Xarchiver
Name[nl]=Xarchiver
Name[pl]=Xarchiver
Name[pt_BR]=Xarchiver
Name[pt_PT]=Xarchiver
Name[ru]=Xarchiver
Name[sq]=Xarchiver
Name[sv]=Xarchiver
Name[tr]=Xarchiver
Name[uk]=Xarchiver
Comment=A GTK+2 only archive manager
Comment[bg]=GTK+2 архивен управител
Comment[ca]=Un gestor d’arxius GTK+2
Comment[cs]=Správce archivů pouze pro GTK+2
Comment[da]=En arkivhåndtering baseret udelukkende på GTK+2
Comment[de]=Ein auf GTK+2 basierender Archivmanager
Comment[el]=Ένας διαχειριστής συμπιεσμένων αρχείων σε GTK+2
Comment[en_GB]=A GTK+2 only archive manager
Comment[es]=Un gestor de archivos comprimidos basado solo en GTK+2
Comment[eu]=GTK+2-rako bakarrik artxibo kudeatzailea
Comment[fi]=GTK+2 -arkistonhallintasovellus
Comment[fr]=Un gestionnaire d'archive pour GTK+2 seulement
Comment[hu]=Egy GTK+2 archívum kezelő
Comment[id]=Manajer arsip khusus GTK+2
Comment[ja]=Xfce 4 アーカイブマネージャ
Comment[nb_NO]=En GTK+2 basert arkivbehandler
Comment[nl]=Een GTK+2 archief-beheerder
Comment[pl]=Program zarządzający archiwami oparty wyłącznie o GTK+2
Comment[pt_BR]=Um gerenciador de pacotes baseado no GTK+2
Comment[pt_PT]=Um gestor de arquivos baseado apenas em GTK+2
Comment[ru]=Менеджер архивов только для GTK+2
Comment[sq]=Përgjegjës arkivash vetëm për GTK+2
Comment[sv]=En arkivhanterare som använder GTK+2
Comment[tr]=GTK+2 ile tasarlanmış arşiv yöneticisi
Comment[uk]=Менеджер архівів, що використовує лише GTK+2
GenericName=Archive manager
GenericName[bg]=Архивен управител
GenericName[ca]=Gestor d'arxius
GenericName[cs]=Správce archivů
GenericName[da]=Arkivhåndtering
GenericName[de]=Archivmanager
GenericName[el]=Διαχειριστής συμπιεσμένων αρχείων
GenericName[en_GB]=Archive manager
GenericName[es]=Gestor de archivos comprimidos
GenericName[eu]=Pakete kudeatzailea
GenericName[fi]=Arkistonhallinta
GenericName[fr]=Gestionnaire d'archives
GenericName[hu]=Archívum kezelő
GenericName[id]=Manajer arsip
GenericName[ja]=アーカイブマネージャ
GenericName[nb_NO]=Arkivbehandler
GenericName[nl]=Archief-beheerder
GenericName[pl]=Zarządca archiwów
GenericName[pt_BR]=Gerenciador de pacotes
GenericName[pt_PT]=Gestor de arquivos
GenericName[ru]=Менеджер архивов
GenericName[sq]=Përgjegjës arkivash
GenericName[sv]=Arkivhanterare
GenericName[tr]=Arşiv yöneticisi
GenericName[uk]=Менеджер архівів
Exec=xarchiver
Icon=/usr/share/pixmaps/xarchive.xpm
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=Utility;
StartupNotify=true
MimeType=application/x-arj;application/arj;application/x-bzip;application/x-bzip-compressed-tar;application/x-gzip;application/x-rar;application/x-rar-compressed;application/x-tar;application/x-zip;application/x-zip-compressed;application/zip;multipart/x-zip;application/x-7z-compressed;application/x-compressed-tar;application/x-bzip2;application/x-bzip2-compressed-tar;
