[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Xffm Patch manager
Name[hu]=Xffm foltkezelő
Name[ja]=Xffm パッチマネージャー
Name[uk]=Менеджер латок для Xffm
Name[vi]=Trình quản lý vá lỗi Xffm
GenericName=Differences tool
GenericName[el]=Εργαλείο διαφορών
GenericName[es]=Diferencias
GenericName[es_MX]=Diferencias
GenericName[fi]=Eroavaisuustyökalu
GenericName[gu]=તફાવતો સાધન
GenericName[hu]=Különbség eszköz
GenericName[ja]=差分作成ツール
GenericName[ko]=차이 도구
GenericName[mr]=फरकांचे साधन
GenericName[uk]=Інструмент відображення різниці
GenericName[vi]=Công cụ khác biệt
GenericName[zh_TW]=比較工具
Comment=File difference and patch visualiser
Comment[es]=Visualizador de differencias de archivos y parches
Comment[es_MX]=Visualizador de differencias de archivos y parches
Comment[fi]=Tiedostojen eroavaisuuksien ja paikkausten visualisoija
Comment[fr]=Affichages des différences entre fichiers et patchs
Comment[gu]=ફાઈલ તફાવત અને પેચ દર્શક
Comment[hu]=Fájl különbség és folt megjelenítő
Comment[ja]=ファイルの差分およびパッチを視覚的に表示します
Comment[ko]=diff와 patch를 도와 줍니다.
Comment[mr]=फरक फाईल करा आणि व्हिज्यूलायझर पॅच करा
Comment[uk]=Візуальне відображення різниці та латок
Comment[vi]=Trình xem sự khác nhau giữa tập tin và vá
Comment[zh_TW]=檔案變動及修補檢視器
TryExec=xfdiff4
Exec=xfdiff4
Icon=xfdiff-icon.png
Terminal=false
Categories=X-Utility
StartupNotify=false
